.navbar {
    background-color: #007bff;
    color: #fff;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-item {
    margin-left: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: #f8f9fa;
  }
  